.table-content {
    height: 500px;
    overflow: auto;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
}

    .main-table tbody tr:nth-child(even) {
        background-color: #d0d0d0;
    }

    .main-table th {
        border: 1px solid #000;
    }

    .main-table td {
        border: 1px solid #000;
    }

.select {
    background-color: #ff0000 !important;
}

.tick {
    background-color: #ff0000 !important;
}

.uncheck {
    background: url('/Contents/images/uncheck.png') no-repeat center;
    width: 24px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}